{% extends "quiz_app/base.html" %}

{% load static %}

{% block title %}- Головна{% endblock title %}

{% block content %}

     <div class="jumbotron">
        <div class="container-fluid">
            <h2 class="title">Метрологія та облік природного газу</h2>
            <p class="title">На цій сторінці Ви зможете оцінити свої знання за напрямком "Метрологія та облік природного газу"</p>
        </div>
      </div>

     <div class="container">
        <!-- Example row of columns -->

            <div class="col-xs-12">
                <h4>Тест складається з 10 питань</h4>
                <h4>Для успішного складання тесту необхідно правильно відповісти не менше як на 7 питань</h4>
            </div>
            <div class="col-xs-8 col-xs-offset-4">
                <form action="{% url "quiz_app:quiz_init" %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-lg" role="button" type="submit" value="Почати Тест">
                </form>
            </div>

    </div>

{% endblock content %}