{% extends "quiz_app/base.html" %}

{% load static %}

{% block title %}- Головна{% endblock title %}

{% block content %}

     <div class="jumbotron">
        <div class="container">
            <h1 class="d">Метрологія та облік природного газу</h1>
            <p>На цій сторінці Ви зможете оцінити свої знання за напрямком "Метрологія та облік природного газу"</p>
        </div>
      </div>

     <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <form action="{% url "quiz_app:quiz_init" %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-outline-primary" type="submit" value="Почати Тест">
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <hr>
     </div>

{% endblock content %}