{% extends "quiz_app/base.html" %}

{% load static %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h2>Результати тестування</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>Ви відповіли правильно на {{ number_of_true_answers }} з {{ number_of_questions }} питань</h4>
                <h3>Ваш рейтинг {{ user_rate }} %</h3>
            </div>
        </div>
    </div>

{% endblock content %}